* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
  }
  .main-body {
    width: 100%;
    min-height: 100vh;
    background: url("https://store.akamai.steamstatic.com/public/images/v6/colored_body_top.png?v=2")
      center top no-repeat #1b2838;
    background: #1b2838;
  }

  .center {
    width: 940px;
    margin: 0 auto;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  /*page header*/

  .header {
    margin: auto;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #171d25;
  }
  .header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    list-style: none;
    margin-left: 20px;
    font-size: large;
    font-weight: 500;
  }
  header ul li a {
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
  header ul li a:hover {
    color: #c6d4df;
  }
  header ul li a.active {
    color: #1a9fff;
    text-decoration: underline;
  }
  
  /*page background*/
  #page-background {
    background-position: center top;
    background-repeat: no-repeat;
  }
  /*navigator bar*/

  .middle-navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 40px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .navigation-links {
    display: flex;
    gap: 32px;
    align-items: center;
    height: 100%;
  }
  .navigation-links li {
    list-style: none;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .search-area {
    display: flex;
    align-content: center;
  }
  #search-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  #search-icon img {
    width: 100%;
    height: 100%;
  }
  
  main {
    position: relative;
    width: 100%;
    padding: 40px 0;
  }
  
  .genres-area {
    position: absolute;
    width: 185px;
    left: 30px;
  }
  .genres-header {
    margin-top: 20px;
    color: #536f86;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .genres-area ul {
    color: #7a8b9d;
    cursor: pointer;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
    text-transform: capitalize;
  }
  .genres-area ul li:hover {
    color: #54a5d4;
  }
  .genres-group {
    font-size: 15px;
    font-weight: 550;
  }
  
  .showing-games {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  .games-list {
    background-color: #57667d;
    padding: 0 12px;
  }
  .navigation-types {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 16px;
    align-items: center;
    list-style-type: none;
    color: #c6d4df;
    cursor: pointer;
    font-size: 14px;
  }
  .navigation-types li:hover {
    background-color: gray;
  }
  .navigation-types li.active {
    color: white;
    border-bottom: 2px solid #fff;
  }
  
  .games {
    background-color: #444b57;
    border-radius: 5px;
    color: white;
    margin-bottom: 4px;
    height: 110px;
    display: flex;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
  }
  .info-games img {
    width: 240px;
    height: 100px;
    margin: 5px 0;
  }
  .info-games info {
    display: inline;
  }
  .info-games .games {
    padding: 0 5px;
  }
  
  .game-tags {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  .game-tags li {
    background-color: rgba(112, 129, 137, 0.15);
    color: #a5b0b6;
    padding: 5px;
    font-size: 12px;
    text-transform: capitalize;
  }
  
  .game-cta {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
  }
  .buttons {
    background-image: radial-gradient(
      circle at top left,
      #85a805 10%,
      #6a8704 80%
    );
    color: #dfe3e6;
    padding: 9px 20px;
    height: 38px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    min-width: 125px;
  }
  .buttons:hover {
    filter: brightness(120%);
    cursor: pointer;
  }
  .price {
    padding: 9px 20px;
    height: 38px;
    align-self: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }
  
  @media screen and (max-width: 768px) {
    .navigation-links {
      gap: 20px;
    }
  

  }
  .btn-show-more-wrapper {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
  .btn-show-more {
    border: none;
    line-height: 32px;
    color: #dfe3e6;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    width: 40%;
    white-space: nowrap;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, .2);
  }
  .btn-show-more:hover {
    filter: brightness(120%);
  }

  .name-and-communityhub {
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin:  0 auto; 
  }
  .single-game-name {
    display: flex;
    align-self: center;
    font-size: 26px;
    color: white;
  }
  .community-hub {
    width: 148px;
    height: 36px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    color: #67c1f5 !important;
    background: rgba(103, 193, 245, 0.2);
  }
  .community-hub:hover {
    filter: brightness(500%);
  }
  .page-background-shade {
    background-image: url("https://store.akamai.steamstatic.com/public/images/v6/app/game_page_background_shadow.png?v=2");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 4px;
  }
  .single-game-info {
    height: 450px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 8px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
  }
  .single-game-details {
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  }
  .single-game-picture {
  height: 68%;   
  width: 100%;
  }
  .language-and-platform {
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  }
  .description-area {
  width: 34%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  .game-header-img {
    width: 324px;
    height: 151px;
  }
  .description-texts {
  color: #c6d4df;
  font-size: 13px;
  }
  .overall-details {
  display: grid;
  grid-template-columns: auto auto;
  }
  .details-wrap {
  display: flex;
  flex-direction: row;
  gap: 28px;
  }
  .header-section-styles {
  text-transform: uppercase;
  font-size: 12px;
  color: #556772;
  }
  .details-section-styles {
  text-transform: capitalize;
  font-size: 12px;
  color: #66C0F4;
  }
  .popular-tags-style {
    text-transform: capitalize;
    font-size: 12px;
    color: #556772;
  }
  .popular-tags {
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: #66C0F4;
    list-style-type: none;
  }
  .popular-tags li {
    background-color: rgba(103, 193, 245, 0.2);
    font-size: 12px;
    padding: 0 4px;
    border-radius: 2px;
  }
  .ul-platforms {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .ul-platforms li {
    list-style-type: none;
  }